body {
  font-size: 1.125rem;
  color: #707070;
  margin: 0;
}

header {
  text-align: center;
  padding: 2em 0;
  background-color: #f8f8f8;
}

/* Media query */
@media (max-width: 675px) {
  .container-nav {
    flex-direction: column;
  }

  nav li {
    margin: .5em 0;
  }
}


.container {
width: 90%;
max-width: 900px;
margin: 0 auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Roboto", sans serif;
  font-weight: bold;
  color: #143774;
  font-size: 2rem;
  margin: 0;
}
.subtitle {
font-weight: 700;
color: #64a6ed;
font-size: .75rem;
margin: 0;
}

nav ul{
list-style: none;
display: flex;
padding: 0;
justify-content: center;
}

nav li {
margin-left: 2em;
}

nav a {
text-decoration: none;
color: #707070;
font-weight: bold;
font-family: "Roboto", sans serif;
margin: .25em 0;
}

nav a:hover, nav a:focus {
  color: #64a6ed;
}

.current-page:hover {
  border-bottom: 1.2px solid  #64a6ed;
}


h1 {
  font-size: 3rem;
  color: #212614;
  font-family: "Roboto";
  text-align: center;
}

h1 span {
  color: #64a6ed;
}

h2 {
  font-size: 1.5rem;
  font-family: "Roboto";
}

p {
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
}
img {
  max-width: 100%;
}

.container {
  width: 95%;
  max-width: 980px;
  margin: 0 auto;

}

.columns {
  display: flex;
  align-items: flex-start;
  margin: 1em 0;
  justify-content: space-between;
}

@media (max-width: 200px) {
  .columns {
    flex-direction: column;

          }
}

.col-1 {
  width: 20%;
}

.col-2 {
width: 45%;
}

.col-3 {
width: 70%;
}

.col-bg {
  background: #64a6ed;
  padding: 1em;
  color: #fff;
}

@media (max-width: 200px) {
.col-1,
.col-2,
.col-3 {
  width: 100%;
}
}
